/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/* Combomap
 *
 * ,-----------------------------.                          ,--------------------------------.
 * |   0  |  1  |  2  |   3 |  4  |                         |  5  |  6  |  7  |  8   |  9    |
 * |----- +-----+-----+-----+-----|                         |--------------------------------|
 * |  10  |  11 | 12  | 13  | 14  |                         | 15  | 16  | 17  | 18   |  19   | 
 * |------+-----+-----+-----+-----+    ,-----.   ,------.   |--------------------------------|
 * |  20  |  21 | 22  | 23  | 24  |    |     |   |      |   |  25 | 26  | 27  | 28   |  29   |
 * `------+-----+-----+------+----'    '-----'   '------'   `--------------------------------'
 *         ,-----. .------------------.           .-----------------.    ,-----.
 *         |     | | 30  | 31  | 32   |           | 33  |  34  | 35 |    |     |
 *         `-----' '------------------'           '-----------------'    `-----'
 *
 *
 * ,-----------------------------.                          ,--------------------------------.
 * |      |    ESC    |     |     |                         |     |    ESC    |    BSLH      |
 * |----- +-----+-----+-----+-----|                         |--------------------------------|
 * |      |   BSPC   TAB  M |  M  |                         |    LT    COLN   GT    |        | 
 * |------+-----+-----+---B-+--B--+    ,-----.   ,------.   |--------------------------------|
 * |      |   MINS    |   2 |  1  |    |     |   |      |   |    QUO   UNDR   |     |        |
 * `------+-----+-----+------+----'    '-----'   '------'   `--------------------------------'
 *        ,-----. .------------------.        .---------------.    ,-----.  
 *        |     | |     |     |      |        |    |     |    |    |     |
 *        `-----' '------------------'        '---------------'    `-----' 
 */

&mt {
  flavor = "tap-preferred";
  // tapping-term-ms = <300>; 
};

/ {
    combos {
        compatible = "zmk,combos";
        /*
        combo_MINUS {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp MINUS>;
        };
        */
        combo_QUOTE {
            timeout-ms = <50>;
            key-positions = <25 26>;
            bindings = <&kp SQT>;
        };
        combo_UNDER {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&kp UNDER>;
        };
        
        
        
        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };
        combo_esc2 {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&kp ESC>;
        };
        combo_BSLH {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp BSLH>;
        };
        combo_BSPC {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp BSPC>;
        };
        
        
        combo_TAB {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp TAB>;
        };
        combo_LT {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp LT>;
        };
        combo_COLN {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp COLON>;
        };
        combo_GT {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp GT>;
        };
        combo_ALT {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp LALT>;
        };
        combo_UNDO {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp LG(Z)>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
/* Keymap 0: Basic layer
 *
 * ,-----------------------------.                            ,--------------------------------.
 * |    q |  w  |  e  |  r  |  t  |                           |  y  |  u  |  i  |  o  |    p   |
 * |-----+-----+-----+-----+------|                           |--------------------------------|
 * |CTRL/a|  s  |  d  |  f  |  g  |                           |  h  |  j  |  k  |  l  | CTRL/; | 
 * |-----+-----+-----+-----+------+    ,-----.    ,-----.     |--------------------------------|
 * |SHFT/z|  x  |  c  |  v  |  b  |    |  2  |  |Pause/Play|  |  n  |  m  |  ,  |  .  | SHFT// |
 * `------+-----+-----+------+----'    `-----'    `-----'     `--------------------------------'
 *         ,-----. .---------------------.           .-----------------.    ,-----.
 *         |BACK | | ALT|GUI/ENT|SPC(SYM)|           |SPC(NUM)|BSPC|TAB|    |Next |
 *         `-----' '---------------------'           '-----------------'    `-----'
 */
            bindings = <
    &kp Q        &kp W         &kp E       &kp R       &kp T           &kp Y   &kp U       &kp I       &kp O       &kp P
    &mt LCTRL A  &kp S         &kp D       &kp F       &kp G           &kp H   &kp J       &kp K       &kp L       &mt LCTRL SEMI
    &mt LSHIFT Z &kp X         &kp C       &kp V       &kp B           &kp N   &kp M       &kp COMMA   &kp DOT     &mt LSHIFT FSLH
    &kp LG(LBRC)
    &kp LALT      &mt LGUI RET       &lt 2 SPACE
    &kp N2
    &kp C_PP
    &lt 1 SPACE   &mt RGUI BSPC      &mt RSHIFT TAB   
    &kp C_NEXT 
            >;

            sensor-bindings = <
                &inc_dec_kp LG(Z)    LS(LG(Z))
                &inc_dec_kp DOWN     UP
                &inc_dec_kp C_VOL_DN C_VOL_UP
                &inc_dec_kp C_PREV   C_NEXT 
            >;
        };

        navnum_layer {
/* Keymap 2: Pad/Function layer
 * ,-----------------------------------.                         ,-------------------------------.
 * |  1         |  2  |  3  |  4  |  5  |                        |  6  |  7  |  8  |  9  |   0   |
 * |------------+-----+-----+-----+-----|                        |-------------------------------|
 * |  F1        | F2  | F3  | F4  |  F5 |                        | LFT | DWN | UP  | RGT |       | 
 * |------------+-----+-----+-----+-----+  ,-----.    ,-----.    |-------------------------------|
 * |  Shift/F6  | F7  | F8  | F9  | F10 |  |     |    |     |    | F11 | F12 | bt0 | bt1 |  bt2  |
 * `------------+-----+-----+-----+-----'  `-----'    `-----'    `-------------------------------'
 *          ,-----.   .-----------------.          .-----------------.   ,-----.
 *          |btClr|   |    |     |      |          |     |     | SKP |   |     |
 *          `-----'   '-----------------'          '-----------------'   `-----'
 */
            bindings = <
    &kp N1      &kp N2      &kp N3      &kp N4      &kp N5                  &kp N6      &kp N7    &kp N8       &kp N9            &kp N0
    &kp F1      &kp F2      &kp F3      &kp F4      &kp F5                  &kp LEFT    &kp DOWN  &kp UP       &kp RIGHT         &trans
    &mt LSHIFT F6      &kp F7      &kp F8      &kp F9      &kp F10          &kp F11     &kp F12   &bt BT_SEL 0 &bt BT_SEL 1      &bt BT_SEL 2
    &bt BT_CLR
    &trans     &trans      &trans
    &trans
    &trans
    &trans &trans    &kp C_NEXT 
    &trans
            >;

            sensor-bindings = <
                &inc_dec_kp LEFT RIGHT
                &inc_dec_kp UP DOWN
                &inc_dec_kp C_VOL_DN C_VOL_UP
                &inc_dec_kp PAGE_DOWN PAGE_UP
            >;
        };

        symbol_layer {
        
/* Keymap 2: Symbols layer
 * ,-----------------------------.                         ,--------------------------------.
 * |  !   |  @  |  #  |  $  |  |  |                        |  `  |  ~  |   {  |  } |    \   |
 * |------------------------------|                        |--------------------------------|
 * | Back | Fwd | <-  |  -> | UP  |                        |  +  |  -  |  /  |  *  |    '   |
 * |------------------------------|   ,-----.    ,-----.   |--------------------------------|
 * |  %   |  ^  |  (  |  )  | DOWN|   |     |    |     |   |  &  |  =  |  [  |   ] |   -    |
 * `------+-----+-----+------+----'   `-----'    `-----'   `--------------------------------' 
 *         ,-----.     .-----------------.           .------------------.   ,-----.
 *         |     |     |     |  ;  |  =  |           |  =  |  ;  |  DEL |   |     |
 *         `-----'     '-----------------'           '------------------'   `-----'
 */
            bindings = <
    &kp EXCL      &kp AT         &kp HASH    &kp DLLR     &kp PIPE         &kp GRAVE       &kp TILDE       &kp LBRC      &kp RBRC     &kp BSLH
    &kp LG(LBRC)  &kp LG(RBRC)   &kp LEFT    &kp RIGHT    &kp UP           &kp PLUS        &kp MINUS       &kp BSLH      &kp ASTERISK &kp APOSTROPHE      
    &kp PRCNT     &kp CARET      &kp LPAR    &kp RPAR     &kp DOWN         &kp AMPS        &kp EQUAL       &kp LBKT      &kp RBKT     &kp MINUS
    &trans
    &trans        &kp SEMI         &kp EQUAL
    &trans
    &trans
    &kp EQUAL     &kp SEMI       &kp DEL  
    &trans
            >;

            sensor-bindings = <
                &inc_dec_kp LEFT RIGHT
                &inc_dec_kp LC(RA(LG(UP))) LC(RA(LG(DOWN)))
                &inc_dec_kp C_VOL_DN C_VOL_UP
                &inc_dec_kp PAGE_DOWN PAGE_UP
            >;
        };
    };
};
